In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("//Users/yanagii/Code/suumo/20221229suumo_scraping_result_50m2_u250k.csv")
df_uniq = df.drop_duplicates(subset=["URL"])
len(df_uniq)

15206

In [7]:
df_uniq.columns

Index(['名称', 'カテゴリー', 'アドレス', 'アクセス', '築年数', '構造', '階数', '家賃', '管理費', '敷金',
       '礼金', '間取り', '面積', 'URL'],
      dtype='object')

In [19]:
df_uniq.groupby("築年数").size().sort_values(ascending=False)

築年数
新築        2391
築34年       498
築33年       489
築32年       476
築28年       426
築30年       387
築31年       363
築20年       360
築29年       352
築19年       337
築26年       336
築35年       332
築27年       326
築16年       306
築25年       304
築24年       298
築15年       298
築23年       291
築18年       291
築36年       278
築21年       250
築22年       247
築3年        241
築17年       240
築2年        230
築14年       221
築12年       220
築38年       214
築4年        209
築39年       194
築13年       192
築8年        189
築44年       187
築9年        187
築37年       183
築43年       176
築7年        172
築5年        168
築45年       167
築40年       160
築11年       160
築10年       149
築6年        139
築41年       135
築42年       135
築46年       131
築1年        129
築52年       108
築53年        99
築47年        98
築50年        92
築51年        80
築48年        72
築54年        67
築55年        62
築49年        61
築59年        44
築58年        39
築57年        30
築56年        27
築60年        26
築61年        26
築64年        22
築62年        21
築0年         15
築63年        13
築66年        10
築72年         5
築65年         5
築99年以上       4
築74年         3
築70年         2
築73年         2
築92年         2
築69年         1
築71年         1
築78年         1
築68年         1
築81年         1
築91年         1
築97年         1
dtype: int64

In [10]:
pd.options.display.max_rows

60

In [11]:
pd.options.display.max_rows = 150

In [21]:
df_uniq.groupby("家賃").size().sort_values(ascending=False)

家賃
12万円       357
15万円       352
22万円       347
18万円       330
20万円       318
          ...
16.74万円      1
16.75万円      1
17.04万円      1
17.26万円      1
10.07万円      1
Length: 364, dtype: int64

In [22]:
df_uniq.to_csv("./20221229suumo_scraping_result_50m2_u250k_uniq.csv")